* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background: -o-radial-gradient(0% 0%, 100% 215.42%, #5b483a 0%, #262425 100%);
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  overflow: hidden;
}
.header__container {
  min-height: 850px;
  position: relative;
  padding: 0px 40px;
}
@media (max-width: 768px) {
  .header__container {
    padding: 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .header__container {
    padding: 0px 10px;
    min-height: 790px;
  }
}
.header__wrapper {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.header__wrapper.active {
  opacity: 1;
  pointer-events: all;
}
.header__navigation {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
  .header__navigation {
    margin-top: 30px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__logo-title {
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary);
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.header__logo-subtitle {
  font-family: var(--font-arial), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--primary-color-light-xl);
}
.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 60px;
  height: 733px;
}
@media (max-width: 768px) {
  .header__lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 100px;
    height: calc(680px + 340 * (100vw - 321px) / 447);
  }
}
@media (max-width: 480px) {
  .header__lower {
    max-height: 680px;
  }
}
.header__image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 20px;
}
.header__image-block img {
  height: 100%;
  width: 100%;
}
@media (max-width: 769px) {
  .header__image-block {
    margin-left: calc(40px + 110 * (100vw - 321px) / 447);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 80%;
    position: relative;
  }
}
@media (max-width: 480px) {
  .header__image-block {
    width: 88%;
    margin-left: 40px;
  }
}
.header__text-block {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-240px);
      -ms-transform: translateY(-240px);
          transform: translateY(-240px);
  gap: 42px;
  padding-right: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}
@media (max-width: 768px) {
  .header__text-block {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    max-width: 460px;
    padding-right: 0em;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.header__title {
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 57px;
  color: var(--primary-color-light-xl);
}
@media (max-width: 768px) {
  .header__title {
    font-size: calc(25px + 19 * (100vw - 321px) / 447);
    line-height: calc(32px + 25 * (100vw - 321px) / 447);
  }
}
@media (max-width: 320px) {
  .header__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
  }
}
.header__subtitle {
  font-family: var(--font-arial), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: var(--text-color-dark-s);
}
@media (max-width: 320px) {
  .header__subtitle {
    text-align: center;
    letter-spacing: 0.01px;
  }
}
.header__button {
  height: 55px;
  width: 210px;
}
@media (max-width: 768px) {
  .header__button {
    margin: 0 auto;
  }
}
.header__button a {
  width: 100%;
  height: 100%;
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary);
  color: var(--text-color-dark-3xl);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__button a:hover {
  background-color: var(--primary-ligth);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__button a:visited {
  color: var(--text-color-dark-3xl);
}
.header__burger {
  display: none;
  z-index: 3;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0px;
  }
  .header__burger:after {
    bottom: 0px;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    top: 9px;
  }
  .header__list {
    display: block;
  }
  .header__list #line::after {
    display: none;
  }
  .header__menu {
    width: 100%;
    background-color: var(--text-color-dark-3xl);
    padding-top: 111px;
    padding-left: 0px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu.active {
    right: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header__list li {
    margin-top: 60px;
    font-size: 32px;
  }
}
.header__menu {
  padding: 20px 5px 20px 20px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  gap: 35px;
}
.header__item {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.header__item a {
  color: var(--text-color-dark-s);
}
.header__item a:visited {
  text-decoration: none;
}
.header__item a:active {
  text-decoration: none;
  color: var(--text-color-light-s);
}
.header__item a:hover {
  color: var(--text-color-light-s);
}
.header__item_current > a {
  cursor: default;
  position: relative;
}
.header__item_current > a:hover {
  color: var(--text-color-dark-s);
}
.header__item_current > a::after {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 22px;
  left: 0px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--primary);
}
@media (max-width: 767px) {
  .header__item_current > a::after {
    top: 40px;
    height: 4px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 120px;
  padding: 80px 40px 100px 40px;
}
@media (max-width: 1280px) {
  .about__content {
    gap: calc(20px + 100 * (100vw - 768px) / 512);
  }
}
@media (max-width: 768px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: calc(30px + 60 * (100vw - 320px) / 448);
    padding: 80px 25px 90px 25px;
  }
}
@media (max-width: 320px) {
  .about__content {
    gap: 30px;
    padding: 40px 25px;
  }
}
.about__poster {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 36%;
          flex: 1 0 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 768px) {
  .about__block {
    max-width: 100%;
  }
}

.block__title {
  color: var(--text-color-dark-1);
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 15px;
}
@media (max-width: 320px) {
  .block__title {
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
  }
}
.block__title_center {
  text-align: center;
}
.block__title_start {
  text-align: start;
}
.block__text {
  font-family: var(--font-arial), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  color: var(--text-color-dark-xl);
  margin-top: 10px;
}
.block__text > p:first-child {
  margin-top: 0px;
}
@media (max-width: 768px) {
  .block__text > p:first-child {
    margin-top: -5px;
  }
}
@media (max-width: 320px) {
  .block__text > p:first-child {
    margin-top: 15px;
  }
}
.block__text > p {
  margin-top: 25px;
  width: 430px;
}
@media (max-width: 1280px) {
  .block__text > p {
    max-width: calc(55vw - 50px);
  }
}
@media (max-width: 768px) {
  .block__text > p {
    max-width: calc(100vw - 50px);
  }
}
@media (max-width: 320px) {
  .block__text > p {
    margin-top: 22px;
    text-align: justify;
  }
}

.friends {
  background-color: var(--primary-color-light-l);
}
.friends__content {
  padding: 80px 40px 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .friends__content {
    padding: 83px 30px 100px 30px;
  }
}
@media (max-width: 320px) {
  .friends__content {
    padding: 40px 25px;
  }
}
.friends__slider {
  margin-top: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.friends__title {
  color: var(--text-color-dark-1);
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 15px;
  text-align: center;
}
@media (max-width: 320px) {
  .friends__title {
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
    width: 110%;
    margin-left: -12.5px;
  }
}
.friends__button {
  margin-top: 61px;
  width: 260px;
  height: 50px;
}
@media (max-width: 460px) {
  .friends__button {
    margin-top: 113px;
  }
}
.friends__button a {
  width: 100%;
  height: 100%;
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary);
  color: var(--text-color-dark-3xl);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.friends__button a:hover {
  background-color: var(--primary-ligth);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.friends__button a:visited {
  color: var(--text-color-dark-3xl);
}

.slider__arrow {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid var(--primary-ligth);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
}
@media (max-width: 460px) {
  .slider__arrow {
    bottom: -90px;
    top: auto;
  }
}
.slider__arrow:hover {
  background-color: var(--primary-ligth);
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider__arrow img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__arrow_right {
  right: 0;
}
@media (max-width: 460px) {
  .slider__arrow_right {
    right: 45px;
  }
}
.slider__arrow_right img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider__arrow_left {
  left: 0;
}
@media (max-width: 460px) {
  .slider__arrow_left {
    left: 45px;
  }
}
.slider__wrapper {
  overflow: hidden;
  width: 1080px;
  margin: 0 10px;
}
@media (max-width: 1270px) {
  .slider__wrapper {
    width: 575px;
  }
}
@media (max-width: 760px) {
  .slider__wrapper {
    width: 270px;
  }
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 90px;
  left: -1035px;
  position: relative;
}
@media (max-width: 1270px) {
  .slider__body {
    left: -575px;
    gap: 0px;
    padding: 0;
  }
}
@media (max-width: 760px) {
  .slider__body {
    left: -270px;
  }
}
.slider__item {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
@media (max-width: 1270px) {
  .slider__item {
    gap: 35px;
  }
}
.slider__card {
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--text-color-light-s);
  cursor: pointer;
  overflow: hidden;
}
.slider__card:hover {
  background-color: var(--primary-color-light-xl);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider__card:hover > div > button {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-color: var(--primary-ligth) !important;
  border: none !important;
}

@-webkit-keyframes move-right {
  from {
    left: -1035px;
  }
  to {
    left: 45px;
  }
}

@keyframes move-right {
  from {
    left: -1035px;
  }
  to {
    left: 45px;
  }
}
@-webkit-keyframes move-left {
  from {
    left: -1035px;
  }
  to {
    left: -2115px;
  }
}
@keyframes move-left {
  from {
    left: -1035px;
  }
  to {
    left: -2115px;
  }
}
@-webkit-keyframes move-right-tablet {
  from {
    left: -575px;
  }
  to {
    left: 0px;
  }
}
@keyframes move-right-tablet {
  from {
    left: -575px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes move-left-tablet {
  from {
    left: -575px;
  }
  to {
    left: -1150px;
  }
}
@keyframes move-left-tablet {
  from {
    left: -575px;
  }
  to {
    left: -1150px;
  }
}
@-webkit-keyframes move-right-mobil {
  from {
    left: -270px;
  }
  to {
    left: 0px;
  }
}
@keyframes move-right-mobil {
  from {
    left: -270px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes move-left-mobil {
  from {
    left: -270px;
  }
  to {
    left: -540px;
  }
}
@keyframes move-left-mobil {
  from {
    left: -270px;
  }
  to {
    left: -540px;
  }
}
.tr-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@media (max-width: 1270px) {
  .tr-right {
    -webkit-animation-name: move-right-tablet;
            animation-name: move-right-tablet;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}
@media (max-width: 760px) {
  .tr-right {
    -webkit-animation-name: move-right-mobil;
            animation-name: move-right-mobil;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
}

.tr-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@media (max-width: 1270px) {
  .tr-left {
    -webkit-animation-name: move-left-tablet;
            animation-name: move-left-tablet;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}
@media (max-width: 760px) {
  .tr-left {
    -webkit-animation-name: move-left-mobil;
            animation-name: move-left-mobil;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
}

.card__name {
  margin-top: 30px;
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.card__button {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 190px;
  height: 50px;
}
.card__button > button {
  border: 2px solid var(--primary);
  background-color: inherit !important;
}

.help {
  padding: 80px 40px 100px 40px;
}
@media (max-width: 768px) {
  .help {
    padding-right: calc(15px + 25 * (100vw - 320px) / 448);
    padding-left: calc(15px + 25 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .help {
    padding: 45px 15px 40px 15px;
  }
}
.help__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 50px;
  gap: 55px 118px;
}
@media (max-width: 768px) {
  .help__list {
    gap: 53px 60px;
    padding: 0;
    gap: calc(33px + 22 * (100vw - 320px) / 448) calc(0px + 60 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .help__list {
    margin-top: 40px;
    gap: 33px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 300px) {
  .help__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list__item-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .list__item-help {
    width: calc(130px + 40 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .list__item-help {
    width: 130px;
  }
}
.list__icon {
  height: 60px;
}
.list__icon img {
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .list__icon {
    height: calc(53px + 7 * (100vw - 320px) / 180);
  }
}
@media (max-width: 320px) {
  .list__icon {
    height: 53px;
  }
}
.list__title {
  margin-top: 30px;
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--text-color-dark-1);
}
@media (max-width: 768px) {
  .list__title {
    font-size: calc(15px + 5 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .list__title {
    font-size: 15px;
    margin-top: 15px;
  }
}

.donation {
  background-color: var(--primary-color-light-l);
  padding: 85px 15px 100px 15px;
}
@media (max-width: 320px) {
  .donation {
    padding: 40px 10px;
  }
}
.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .donation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.donation__image {
  max-width: 505px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
@media (max-width: 768px) {
  .donation__image {
    margin-top: 60px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@media (max-width: 320px) {
  .donation__image {
    margin-top: 38px;
  }
}
.donation__image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 320px) {
  .donation__image-content {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.donation__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}
.donation__description-content {
  margin-left: 40px;
  margin-right: 10px;
  width: 380px;
}
@media (max-width: 768px) {
  .donation__description-content {
    margin-left: 5px;
  }
}
@media (max-width: 400px) {
  .donation__description-content {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.donation__subtitle {
  margin-top: 15px;
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--text-color-dark-1);
}
@media (max-width: 320px) {
  .donation__subtitle {
    letter-spacing: 0.01em;
    margin-top: 25px;
  }
}
.donation__requisites {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary);
  padding: 10px 15px;
  border-radius: 9px;
}
@media (max-width: 320px) {
  .donation__requisites {
    margin-top: 25px;
  }
}
.donation__number-card {
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--text-color-dark-1);
  margin-left: 15px;
}
.donation__number-card a {
  color: var(--text-color-dark-1);
}
@media (max-width: 400px) {
  .donation__number-card {
    font-size: 15px;
  }
}
.donation__footnote {
  margin-top: 20px;
  font-family: var(--font-arial), "Arial", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color-dark-m);
}
@media (max-width: 320px) {
  .donation__footnote {
    padding: 0 5px;
    text-align: justify;
  }
}

.footer {
  background: -o-radial-gradient(5.73% 50%, 110.67% 538.64%, #513D2F 0%, #1A1A1C 100%);
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.footer__content {
  padding: 40px 40px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  width: 100%;
}
@media (max-width: 1280px) {
  .footer__content {
    gap: calc(50px + 70 * (100vw - 768px) / 512);
  }
}
@media (max-width: 1000px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__content {
    padding: 15px 25px 0px 25px;
    gap: 60px 10px;
  }
}
@media (max-width: 580px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 320px) {
  .footer__content {
    padding: 10px 5px 0px 5px;
    gap: 20px;
  }
}
.footer__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 320px) {
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 34px;
  }
}
@media (max-width: 768px) {
  .footer__contacts:first-child {
    margin-left: 35px;
  }
}
@media (max-width: 580px) {
  .footer__contacts:first-child {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .footer__contacts:nth-child(2) {
    margin-right: 10px;
  }
}
@media (max-width: 580px) {
  .footer__contacts:nth-child(2) {
    margin-right: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 320px) {
  .footer__image {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__image-content {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.footer__image-content img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .footer__image-content {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@media (max-width: 320px) {
  .footer__image-content {
    margin-top: 20px;
    width: 90%;
  }
}

.contacts__title {
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  color: var(--primary-color-light-xl);
  letter-spacing: 0.06em;
  max-width: 300px;
}
@media (max-width: 320px) {
  .contacts__title {
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    padding: 0 10px;
  }
}
.contacts__item {
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 42px;
}

.item__text {
  margin-left: 20px;
}

.modal__wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  padding: 0 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.modal__wrapper.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  height: 600px;
  width: 950px;
  position: relative;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 50px;
}
@media (max-width: 550px) {
  .modal__content {
    margin-left: 0;
  }
}
.modal__button {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.modal__button button {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: inherit !important;
  border: 2px solid var(--primary);
  z-index: 1;
}
.modal__button button::before,
.modal__button button::after {
  content: "";
  left: 35%;
  width: 15px;
  height: 2px;
  top: 50%;
  background-color: var(--text-color-dark-3xl);
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.modal__button button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal__button button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__body {
  background-color: var(--text-color-light-s);
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 550px) {
  .modal__body {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
}
.modal__poster {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  position: relative;
}
.modal__poster img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .modal__poster {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (max-width: 550px) {
  .modal__poster {
    display: none;
  }
}
.modal__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 30px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
}
.modal__description ul {
  list-style: decimal;
}

.description__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}
.description__subtitle {
  margin-top: 10px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.description__content {
  margin-top: 40px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
@media (max-width: 768px) {
  .description__content {
    font-size: 13px;
  }
}
.description__list {
  margin-top: 40px;
}

.list__item {
  padding: 5px 0;
  min-width: 100%;
  text-align: left;
}
.list__value {
  padding-left: 15px;
  position: relative;
  margin: 5px 0px;
  width: 100%;
  height: 100%;
}
.list__value span {
  display: inline-block;
  font-weight: 700;
}
.list__value::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  border-radius: 100%;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: var(--font-arial), "Arial", serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body.active {
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  [class*=__container] {
    max-width: calc(320px + 448 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  [class*=__container] {
    max-width: 320px;
  }
}

[class*=__button] > button {
  font-family: var(--font-georgia), "Arial", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary);
  color: var(--text-color-dark-3xl);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
[class*=__button] > button:hover {
  background-color: var(--primary-ligth);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

:root {
  --primary: #F1CDB3;
  --primary-ligth: #FDDCC4;
  --primary-color-light-xl: #FFFFFF;
  --primary-color-light-l: #F6F6F6;
  --text-color-dark-1: #545454;
  --text-color-dark-xl: #4C4C4C;
  --text-color-dark-s: #CDCDCD;
  --text-color-dark-m:#B2B2B2;
  --text-color-dark-3xl:#292929;
  --text-color-light-s: #FAFAFA;
  --font-arial: Arial;
  --font-georgia: Georgia;
}