.footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);

    &__content {
        padding: 40px 40px 0px 40px;
        display:flex;
        gap: 120px;
        width: 100%;

        @media (max-width: 1280px) {
            gap: calc(50px + (120 - 50) * ((100vw - 768px) / (1280 - 768)));
        }

        @media (max-width: 1000px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 768px) {
            padding: 15px 25px 0px 25px;
            gap: 60px 10px;
        }

        @media (max-width: 580px) {
            flex-direction: column;
        }

        @media (max-width: 320px) {
            padding: 10px 5px 0px 5px;
            gap: 20px;
        }
    }


    &__contacts {
        flex: 1 1 33%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 320px) {
            align-items: center;
            gap: 34px;
        }


    }

    &__contacts:first-child{
        @media (max-width: 768px) {
            margin-left: 35px;
        }

        @media (max-width: 580px) {
            margin-left: 0px;
        }
    }

    &__contacts:nth-child(2){
        @media (max-width: 768px) {
            margin-right: 10px;
        }

        @media (max-width: 580px) {
            margin-right: 0px;
            align-items: start;
        }
    }

    &__image {
        flex: 1 1 33%;
        display:flex;
        justify-content: center;
        align-items: end;

        @media (max-width: 320px) {
            align-items: start;
        }
    }

    &__image-content{
        transform: translateX(10px);

        img{
            width: 100%;
            height: 100%;
        }

        @media (max-width: 1000px) {
            transform: translateX(0px);
        }

        @media (max-width: 320px) {
            margin-top: 20px;
            width: 90%;
        }
    }
}
.contacts {

    &__title {
        @include font(var(--font-georgia), 400, normal);
        font-size: 35px;
        line-height: 45px;
        color: var(--primary-color-light-xl);
        letter-spacing: 0.06em;
        max-width: 300px;

        @media (max-width: 320px) {
            text-align: center;
            font-size: 25px;
            line-height: 34px;
            padding: 0 10px;
        }
    }


    &__item {
        @include font(var(--font-georgia), 400, normal);
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: var(--primary);
        display:flex;
        align-items: center;
        min-height: 42px;
    }
}

.item {

    &__image {
    }


    &__text {
        margin-left: 20px;
    }
}


