.about {

    @media (max-width: 768px) {
        // min-height: 1045px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        gap: 120px;
        padding: 80px 40px 100px 40px;
        @media (max-width: 1280px) {
            gap: calc(20px + (120 - 20) * ((100vw - 768px) / (1280 - 768)));
        }

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: calc(30px + (90 - 30) * ((100vw - 320px) / (768 - 320)));
            padding: 80px 25px 90px 25px;
        }
        @media (max-width: 320px) {
            gap: 30px;
            padding: 40px 25px;
        }
    }

    &__poster {
        flex: 1 0 auto;
        display:flex;
        justify-content: end;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;	
        }
    }


    &__block {
        flex: 1 0 36%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: start;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
.block {

    &__title {
        color: var(--text-color-dark-1);
        @include font (var(--font-georgia), 400, normal);
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        margin-bottom: 15px;

        @media (max-width: 320px) {
            font-size: 25px;
            text-align: center;
            margin: 0px auto;
        }
        &_center{
            text-align: center;
        }
        &_start{
            text-align: start;
        }
    }

    &__text {
        @include font(var(--font-arial), 400, normal);
        font-size: 15px;
        line-height: 160%;
        color: var(--text-color-dark-xl);
        margin-top: 10px;
        
        > p:first-child {
            margin-top: 0px;
            @media (max-width: 768px) {
                margin-top: -5px;
            }
            @media (max-width: 320px) {
                margin-top: 15px;
            }
        }
        > p {
            margin-top: 25px;
            width: 430px;
            @media (max-width: 1280px) {
                max-width: calc(55vw - 50px);
            }

            @media (max-width: 768px) {
                max-width: calc(100vw - 50px);
                
            }
            @media (max-width: 320px) {
                margin-top: 22px;
                text-align: justify;
            }
        }
    }
}
